@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: url("../images/arrownext.png") center center no-repeat;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

body {
  font-family: 'gotham_mediumregular', sans-serif;
  width: 100%; }
  body header .ba-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    body header .ba-container .logo {
      background: url("../images/Logo.png") center center no-repeat;
      background-size: auto;
      width: 30%;
      height: 54px; }
    body header .ba-container .nav {
      width: 45%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      body header .ba-container .nav ul {
        width: 100%;
        display: flex;
        justify-content: space-between; }
        body header .ba-container .nav ul a {
          font-family: 'GothamBook', sans-serif;
          text-decoration: none;
          text-transform: uppercase;
          color: #ffffff;
          font-size: 14px;
          line-height: 22px; }
        body header .ba-container .nav ul a:hover img {
          background: white;
          border-radius: 100%; }
        body header .ba-container .nav ul img:hover {
          background: white;
          border-radius: 100%; }
        body header .ba-container .nav ul li {
          list-style: none;
          display: inline-block; }
  body header .socialIcons {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    body header .socialIcons a {
      text-decoration: none;
      font-size: 14px;
      width: 35px;
      border: 1px solid #a189fb;
      border-radius: 100%;
      color: white;
      padding: 10px; }

.hero {
  background: url("../images/BgHero.jpg") center center no-repeat;
  background-size: cover;
  margin-top: -54px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero .title {
    margin-top: 50px;
    width: 80%;
    height: 80%;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .hero .title .slick-dots {
      width: 25px;
      bottom: auto;
      top: 50%;
      right: -55px;
      transform: translateY(-50%); }
    .hero .title .slick-dots li button:before {
      font-family: 'slick';
      font-size: 10px;
      line-height: 20px;
      border: 1px solid white;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 12px;
      height: 12px;
      content: '';
      /* <-- Вот этот символ */
      text-align: center;
      color: white; }
    .hero .title .slick-dots li.slick-active button:before {
      background: white;
      opacity: 1; }
    .hero .title .heroSlide1 {
      text-align: center;
      width: 100%;
      height: 100%; }
      .hero .title .heroSlide1 h1 {
        font-family: 'gothambold1', sans-serif;
        font-size: 80px;
        line-height: 22px;
        letter-spacing: 0.05em; }
      .hero .title .heroSlide1 h4 {
        font-family: 'GothamBook', sans-serif;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.3em;
        font-weight: normal; }
    .hero .title .heroSlide2 {
      text-align: center;
      width: 100%;
      height: 100%; }
      .hero .title .heroSlide2 h1 {
        font-family: 'gothambold1', sans-serif;
        font-size: 80px;
        line-height: 22px;
        letter-spacing: 0.05em; }
      .hero .title .heroSlide2 h4 {
        font-family: 'GothamBook', sans-serif;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.3em;
        font-weight: normal; }
    .hero .title .heroSlide3 {
      text-align: center;
      width: 100%;
      height: 100%; }
      .hero .title .heroSlide3 h1 {
        font-family: 'gothambold1', sans-serif;
        font-size: 80px;
        line-height: 22px;
        letter-spacing: 0.05em; }
      .hero .title .heroSlide3 h4 {
        font-family: 'GothamBook', sans-serif;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.3em;
        font-weight: normal; }
    .hero .title .eclipse {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      margin-right: 50px; }
      .hero .title .eclipse a img:hover {
        background: white;
        border-radius: 100%; }
  .hero .arrow {
    background: url("../images/ArrowHero.png");
    width: 40px;
    height: 40px;
    margin-bottom: 50px; }

.projectOne {
  width: 100%;
  font-family: 'gothambold1', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 140px; }
  .projectOne .galleryLine {
    margin: 50px auto;
    width: 100px;
    border: 1px solid #2c4058; }
  .projectOne h2 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'gotham_mediumregular', sans-serif;
    font-weight: bold;
    color: #2c4058;
    font-size: 44px;
    line-height: 22px;
    margin-bottom: 100px; }
  .projectOne .projectSample {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .projectOne .projectSample .project1Text {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      .projectOne .projectSample .project1Text h4 {
        font-family: 'GothamBook', sans-serif;
        text-transform: uppercase;
        font-weight: lighter;
        color: #2c4058;
        font-size: 22px;
        line-height: 22px; }
      .projectOne .projectSample .project1Text h3 {
        margin-top: 0;
        text-transform: uppercase;
        font-weight: bold;
        color: #2c4058;
        font-size: 44px;
        line-height: 22px; }
      .projectOne .projectSample .project1Text p {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        color: #2c4058; }
      .projectOne .projectSample .project1Text #block_id {
        display: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        color: #2c4058; }
      .projectOne .projectSample .project1Text a {
        font-family: 'GothamBook', sans-serif;
        width: 190px;
        height: 50px;
        font-size: 14px;
        line-height: 22px;
        color: #2c4058;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid #000000;
        -webkit-box-shadow: 3px 7px 5px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 3px 7px 5px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 3px 7px 5px 0px rgba(0, 0, 0, 0.35);
        margin-bottom: 60px; }
      .projectOne .projectSample .project1Text span {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        color: #2c4058;
        font-style: italic; }
    .projectOne .projectSample .image {
      background: url("../images/projectSempleBG.jpg");
      width: 50%;
      height: 540px; }

.projectTwo {
  width: 100%;
  font-family: 'gothambold1', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 140px; }
  .projectTwo .projectTwoSample {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .projectTwo .projectTwoSample .project2Text {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 215px; }
      .projectTwo .projectTwoSample .project2Text h4 {
        font-family: 'GothamBook', sans-serif;
        text-transform: uppercase;
        font-weight: lighter;
        color: #2c4058;
        font-size: 22px;
        line-height: 22px; }
      .projectTwo .projectTwoSample .project2Text h3 {
        margin-top: 0;
        text-transform: uppercase;
        font-weight: bold;
        color: #2c4058;
        font-size: 44px;
        line-height: 22px; }
      .projectTwo .projectTwoSample .project2Text p {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        color: #2c4058; }
      .projectTwo .projectTwoSample .project2Text #hidden {
        display: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        color: #2c4058; }
      .projectTwo .projectTwoSample .project2Text a {
        font-family: 'GothamBook', sans-serif;
        width: 190px;
        height: 50px;
        font-size: 14px;
        line-height: 22px;
        color: #2c4058;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid #000000;
        -webkit-box-shadow: 3px 7px 5px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 3px 7px 5px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 3px 7px 5px 0px rgba(0, 0, 0, 0.35);
        margin-bottom: 60px; }
      .projectTwo .projectTwoSample .project2Text span {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        color: #2c4058;
        font-style: italic; }
    .projectTwo .projectTwoSample .imageProdTwo {
      background: url("../images/project2BG.jpg");
      width: 50%;
      height: 540px; }

.news {
  background: url("../images/newsBg.jpg") center center no-repeat;
  width: 100%;
  height: 1035px; }
  .news .newsTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 30%; }
    .news .newsTitle .galleryLine {
      width: 100px;
      border: 1px solid #ffffff;
      margin: 0 auto; }
    .news .newsTitle h2 {
      text-transform: uppercase;
      color: #ffffff;
      font-size: 44px;
      line-height: 22px;
      font-weight: normal;
      text-align: center; }
  .news .responsive {
    width: 80%;
    margin: 0 auto; }
    .news .responsive .slick-dots li button:before {
      font-family: 'slick';
      font-size: 10px;
      line-height: 20px;
      border: 1px solid white;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 12px;
      height: 12px;
      content: '';
      /* <-- Вот этот символ */
      text-align: center;
      color: white;
      margin-top: 40px; }
    .news .responsive .slick-dots li.slick-active button:before {
      background: white;
      opacity: 1; }
    .news .responsive .prevButton {
      background: url("../images/leftArrow.png") center center no-repeat;
      content: "";
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      left: -100px;
      top: calc(50% - 30px);
      cursor: pointer; }
    .news .responsive .nextButton {
      background: url("../images/rightArrow.png") center center no-repeat;
      content: "";
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      right: -100px;
      top: calc(50% - 30px);
      cursor: pointer; }
    .news .responsive .slide1 {
      background: url("../images/slide1.png") center center no-repeat;
      width: 95%;
      height: 514px;
      margin: 0 10px; }
    .news .responsive .slide2 {
      background: url("../images/slide2.png") center center no-repeat;
      width: 95%;
      height: 514px;
      margin: 0 10px; }
    .news .responsive .slide3 {
      background: url("../images/slide3.png") center center no-repeat;
      width: 95%;
      height: 514px;
      margin: 0 10px; }

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .gallery a {
    font-family: 'GothamBook', sans-serif;
    width: 190px;
    height: 50px;
    font-size: 14px;
    line-height: 22px;
    color: #2c4058;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #000000;
    -webkit-box-shadow: 3px 7px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 3px 7px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 7px 5px 0px rgba(0, 0, 0, 0.35);
    margin-bottom: 60px; }
  .gallery .galleryTitle {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    text-align: center;
    align-items: center;
    justify-content: center; }
    .gallery .galleryTitle .galleryLine {
      width: 100px;
      border: 1px solid #2c4058; }
    .gallery .galleryTitle h2 {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-family: 'gotham_mediumregular', sans-serif;
      font-weight: bold;
      color: #2c4058;
      font-size: 44px;
      line-height: 22px;
      margin-bottom: 100px; }
  .gallery .grid {
    margin: 0 auto;
    width: 90%;
    height: 500px; }
    .gallery .grid .grid-item {
      margin: 5px;
      float: left;
      width: 285px;
      height: 214px; }
    .gallery .grid .grid-item:nth-of-type(2) {
      background: url("../images/galleryTwo.png"); }
    .gallery .grid .grid-item:nth-of-type(3) {
      background: url("../images/galerryTree.png"); }
    .gallery .grid .grid-item:nth-of-type(4) {
      background: url("../images/galleryFourth.png"); }
    .gallery .grid .grid-item:nth-of-type(5) {
      background: url("../images/galleryFifth.png"); }
    .gallery .grid .grid-item--width2 {
      float: left;
      width: 580px;
      height: 438px;
      background: url("../images/360gr.png"); }

.contact {
  position: relative; }
  .contact iframe {
    width: 100%;
    height: 100vh; }
  .contact form {
    position: absolute;
    background: url("../images/formBG.png") center center no-repeat;
    width: 770px;
    height: 450px;
    left: calc(50% - 385px);
    margin-top: -300px;
    z-index: 1; }
    .contact form .formTitle {
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 30%;
      text-align: center;
      align-items: center;
      justify-content: center; }
      .contact form .formTitle .galleryLine {
        width: 100px;
        border: 1px solid #2c4058; }
      .contact form .formTitle h3 {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-family: 'gotham_mediumregular', sans-serif;
        font-weight: bold;
        color: #2c4058;
        font-size: 44px;
        line-height: 22px;
        margin-bottom: 100px; }
    .contact form .row {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .contact form .row .contactInfo {
        height: 100%;
        width: 50%;
        margin-left: 55px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'GothamBook', sans-serif;
        font-size: 18px;
        line-height: 34px; }
        .contact form .row .contactInfo i {
          color: #7e5aff; }
      .contact form .row .inputs {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .contact form .row .inputs input {
          width: 70%;
          height: 50px;
          font-family: 'GothamBook', sans-serif;
          font-size: 18px;
          line-height: 22px;
          color: #a5aab0;
          border: none;
          border-bottom: 1px solid #a5aab0;
          margin-bottom: 30px; }
        .contact form .row .inputs input:focus {
          height: 50px;
          font-family: 'GothamBook', sans-serif;
          font-size: 18px;
          line-height: 22px;
          color: #000000;
          border: none;
          border-bottom: 1px solid #000000; }
        .contact form .row .inputs button {
          width: 140px;
          background: none;
          height: 50px;
          font-family: 'GothamBook', sans-serif;
          font-size: 14px;
          line-height: 22px;
          color: #2c4058;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          text-decoration: none;
          border: 1px solid #000000;
          -webkit-box-shadow: 3px 7px 5px 0px rgba(0, 0, 0, 0.35);
          -moz-box-shadow: 3px 7px 5px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 7px 5px 0px rgba(0, 0, 0, 0.35);
          margin-bottom: 60px; }

footer {
  background: url("../images/footerBg.jpg") center center no-repeat;
  width: 100%; }
  footer .ba-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px; }
  footer .footerLogo {
    background: url("../images/footerLogo.png") center center no-repeat;
    width: 410px;
    height: 112px; }
  footer .footericons {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    footer .footericons a {
      text-decoration: none;
      font-size: 16px;
      border: 1px solid #a189fb;
      border-radius: 100%;
      color: white;
      padding: 14px; }

.ba-container {
  width: 80%; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  header {
    width: 100%;
    background: #7176f9;
    display: flex;
    flex-direction: row;
    align-items: center; }
    header .logo {
      display: none; }
    header .nav {
      width: 70%;
      display: flex;
      align-items: center; }
      header .nav li {
        display: inline-block;
        margin-right: 30px; }
  .hero {
    width: 100%;
    height: 100vh; }
    .hero .title {
      height: 100%; }
      .hero .title #slick-slide10 > h1 {
        font-size: 28px;
        text-align: center; }
      .hero .title h2 {
        font-size: 18px; }
    .hero #slick-slide11 > h1 {
      font-size: 28px;
      text-align: center; }
    .hero h2 {
      font-size: 18px; }
  #slick-slide12 > h1 {
    font-size: 28px;
    text-align: center; }
  h2 {
    font-size: 18px; }
  h2 {
    font-size: 18px; }
  section.projectOne > div.projectSample > div.image {
    background: url("../images/projectSempleBG.jpg") left center no-repeat;
    width: 100%;
    height: 540px;
    background-size: cover; }
  section.projectOne > div.projectSample > div.project1Text > h3 {
    line-height: normal; }
  section.projectTwo > div.projectTwoSample > div.project2Text {
    margin-left: 10px; }
  section.projectTwo > div.projectTwoSample > div.project2Text > h3 {
    line-height: normal; }
  body > main > section.gallery > div.galleryTitle {
    padding-top: 30px; }
  body > main > section.gallery > div.galleryTitle > h2 {
    margin-bottom: 20px; }
  body > main > section.gallery > div.grid {
    margin-left: 85px;
    height: 100vh;
    float: none; }
  body > main > section.gallery > a {
    background: white; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  header {
    display: none; }
  .hero {
    width: 100%;
    height: 100vh; }
    .hero .title {
      height: 100%; }
      .hero .title #slick-slide10 > h1 {
        font-size: 28px;
        text-align: center; }
      .hero .title h2 {
        font-size: 18px; }
    .hero #slick-slide11 > h1 {
      font-size: 28px;
      text-align: center; }
    .hero h2 {
      font-size: 18px; }
  #slick-slide12 > h1 {
    font-size: 28px;
    text-align: center; }
  h2 {
    font-size: 18px; }
  body > main > section.projectOne > h2 {
    line-height: normal; }
  section.projectOne > div.projectSample > div.image {
    display: none; }
  section.projectOne > div.projectSample > div.project1Text {
    background: url("../images/projectSempleBG.jpg") center center no-repeat;
    width: 100%;
    height: 540px;
    background-size: cover; }
  body > main > section.projectOne {
    margin-bottom: 20px; }
  body > main > section.projectOne > div.projectSample > div.project1Text > a {
    background: white; }
  section.projectOne > div.projectSample > div.project1Text > h3 {
    line-height: normal; }
  section.projectTwo > div.projectTwoSample > div.project2Text {
    margin-left: 1px;
    background: url("../images/project2BG.jpg") center center no-repeat;
    width: 100%;
    height: 540px; }
  #projects > div > div.project2Text > a {
    background: white; }
  section.projectTwo > div.projectTwoSample > div.project2Text > h3 {
    line-height: normal; }
  #projects > div > div.imageProdTwo {
    display: none; }
  body > main > section.gallery {
    width: 100vw; } }

/*# sourceMappingURL=styles.css.map */